<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- properties -->
        <property name="connection.datasource">java:comp/env/jdbc/javangarch</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="default_schema">javangarch</property>
        <property name="id.new_generator_mappings">true</property>
        <property name="connection.release_mode">auto</property>
        <property name="show_sql">true</property>
        <property name="use_sql_comments">true</property>
        <property name="query.substitutions">true 1, false 0</property>
        <property name="max_fetch_depth">1</property>
        <property name="default_batch_fetch_size">8</property>
        <property name="connection.isolation">2</property>
        <property name="jdbc.fetch_size">25</property>
        <property name="jdbc.batch_size">25</property>
        

        <!-- mapping files annotation-->

        <!-- cache settings -->

    </session-factory>

</hibernate-configuration>