@model TaskItemListVM
<div class="table-responsive"><table class="table table-striped table-bordered table-hover" >
	<thead><tr  pb-sort-input="Input.OrderExpression" pb-sort-model="c.vm.Input.OrderExpression" ajax-url='' ajax-bind='parent'>
        <th><pb-checkall list-model="c.vm.resultList" list-prop="id" selected-model="c.vm.input.selectedValues"></pb-checkall>{{'Select'|translate}}</th>
		<th  nowrap pb-sort-expr="Task"><span  translate="TaskItem_Task"></span></th>
		<th  pb-sort-expr="Brief"><span  translate="TaskItem_Brief"></span></th>
		<th  nowrap pb-sort-expr="User"><span  translate="TaskItem_User"></span></th>
		<th  pb-sort-expr="Requirement"><span  translate="TaskItem_Requirement"></span></th>
		<th  pb-sort-expr="Record"><span  translate="TaskItem_Record"></span></th>
		<th  pb-sort-expr="KeyInfo"><span  translate="TaskItem_KeyInfo"></span></th>
		<th  nowrap pb-sort-expr="CreateDate"><span  translate="TaskItem_CreateDate"></span></th>
		<th  nowrap pb-sort-expr="ActionDate"><span  translate="TaskItem_ActionDate"></span></th>
		<th  nowrap pb-sort-expr="Status"><span  translate="TaskItem_Status"></span></th>
		<th  nowrap pb-sort-expr="OrderNum"><span  translate="TaskItem_OrderNum"></span></th>

	</tr></thead>
	<tbody><tr ng-repeat="item in c.vm.ResultList">
        <th class="col-sm-1">
        	<input type="checkbox" name="Input.SelectedValues" value="{{item.Id}}" ng-true-value="{{item.Id}}" ng-model="c.vm.Input.SelectedValues[$index]"/>
        </th>
		<td><a @Url.State("forward:Edit(id:item.Id)")>{{::item.Task}}</a></td>
		<td><a @Url.State("forward:Edit(id:item.Id)")>{{::item.Brief}}</a></td>
		<td>{{::item.User}}</td>
		<td>{{::item.Requirement}}</td>
		<td>{{::item.Record}}</td>
		<td>{{::item.KeyInfo}}</td>
		<td>{{::item.CreateDate|Display}}</td>
		<td>{{::item.ActionDate|Display}}</td>
		<td>{{::item.Status|Display:'TaskItem_StatusEnum'}}</td>
		<td>{{::item.OrderNum}}</td>

	</tr></tbody>
</table></div>
<div class="row text-center">
	<div pager-input="Input.Pager" pager-model="c.vm.Input.Pager" pager-sizemax="200" pager-short="false" ajax-url='' ajax-bind='parent'></div>
</div>
<div class="row text-center">
	<button translate="Add"  type="button" @Url.State("forward:Add") class="btn btn-default"/>
	<button translate="Delete"  type="button" ajax-url='@Url.Action("Delete")' ajax-confirm-multi="c.vm.Input.SelectedValues" class="btn btn-default"/>
</div>

         

